<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
   
<head>
    {% include head.html %}

    <!-- HEADER IMAGE -->
    <center>
        <span class="main-header-image">
            <a href="http://www.zeshiyang.com/"><img src="/images/blog_header.jpg"></a>
        </span>
    </center>
</head>


    <!-- BODY -->
    <body id="post-index">
        {% include browser-upgrade.html %}
        <div id="main" role="main">
            <article class="hentry">

    <style type="text/css">
<!--
a:link { text-decoration: none;color: black}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;color: red}
a:visited { text-decoration: none;color: blue}
-－>
</style>
<center>

 <a href="/archives/"><b><U>ARCHIVE</b>(Articles Sorted by Year)</U></a><br><br>
 <a href="/tags/"><U><b>TAGS</b>(Articles Sorted by Content)</U></a> <br><br>
 <a href="/about/"><U><b>ABOUT ME</b></U></a><br><br>
 <a href="/images/Tony-zeshi Yang resume.pdf"><b><U>CV</U></a><br><br>
 <a href="/trying/"><b><U>trying</U></b></a><br><br>
 <a href="/Classes/"><U><b>Classes</U></b></a><br><br>
            
 <a href="/ML and DM projects/"><b><U>ML&DM(machine learning and data mining projects</U></b></a><br><br>
 <a href="https://github.com/tonyzyang"><b><U>Tony-zeshi yang github</U></b></a><br><br>
 <a href="https://twitter.com/yangzeshi"><b><U>Tony-zeshi yang twitter</U></b></a><br><br>
 <a href="https://www.linkedin.com/in/tony-zeshi-yang/"><b><U>Tony-zeshi yang-linkedin</b></U></a> <br><br>
</center>

        </article>
    </div>
</body>
    
<!-- FOOTER -->  
<footer>  
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>   
</footer>  
</html>

