<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}

    <!-- HEADER IMAGE -->
    <center>
        <span class="main-header-image">
            <a href="http://www.zeshiyang.com/"><img src="/images/blog_header.jpg"></a>
        </span>
    </center>

    <!-- NAVIGATION -->
    <br>
    <center>
        <ul class="navigation-bar">
            <li><a href="/"><b>HOME</a></b></li>
            <li><a href="/archives/"><b>ARCHIVE</b></a></li>
            <li><a href="/tags/"><b>TAGS</b></a></li>
            <li><a href="/about/"><b>ABOUT</b></a></li>

            
            <li><a href="/Classes/"><b>Classes</b></a></li>
            <li><a href="/ML and DM projects/"><b>ML&DM</b></a></li>
            <li><a href="/trying/"><b>Register/Log in</b></a></li>
            <li><a href="https://github.com/tonyzyang"><b><i class='fa fa-github-alt'></i></b></a></li>  
            <li><a href="https://twitter.com/yangzeshi"><b><i class="fa fa-twitter"></i></b></a></li>
            <li><a href="https://www.linkedin.com/in/tony-zeshi-yang/"><b><i class='fa fa-linkedin'>/<b></i></a></li>
        </ul>
    </center> 
</head>
 
<!-- BODY -->
<body id="post-index" background="/images/background1.jpg">
    {% include browser-upgrade.html %}

    <!-- MAIN -->
    <div id="main" role="main" class="entry-content">
      {{ content }}
    </div>       
</body>

<!-- FOOTER -->  
<footer>  
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>   
</footer>
</html>
